<html>
<head>
    <title>NootJS</title>
    <link rel="stylesheet" type="text/css" href="{{ asset("/css/style.css") }}">
</head>
<body>
    <h1>AppBundle ({{ name }})</h1>
    <p><a href="{{ path("acme.default.index") }}">Andere pagina</a></p>
    <h2>Logs</h2>
    {% for log in logs %}
        {{ log.id }}: {{ log.body }}<br/>
    {% endfor %}
</body>
</html>